//popup 

body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: rem(30) rem(10);
	transition: visibility 0.8s ease 0s;
	opacity: 1;
	visibility: hidden;
	pointer-events: none;
}

.popup__content {	
	position: relative;
	visibility: hidden;
	transform: translateY(-700px);
	transition: transform 0.8s ease 0s;
	background-color: $mainBgColor;
	padding: rem(40) rem(20) rem(30);
	width: 100%;
	max-width: rem(450);
	border-radius: rem(10);
	.lock & {
		visibility: visible;
	}
}

.popup__close {
	position: absolute;
	outline: none;
	top: rem(15);
	right: rem(15);
	width: rem(20);
	height: rem(20);
}

.popup_show {
	z-index: 150;
	visibility: visible;
	opacity: 1;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: translateX(0);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

// .popup__icon::before {
// 	content: "\e974";
// 	@extend %ic;
// 	color: ;
// 	font-size: rem(20);
// 	font-weight: 700;
// 	transition: color 0.3s ease 0s;	
// }

._icon-circle-xmark::before {
   content: "\e902";
	color: $linkOtherColor;
	font-size: 24px;
	position: absolute;
	top: -3px;
 }


.popup__icon:hover::before {
	color: $accentColor;
}

.popup strong {
	color: $accentColor;
	text-transform: uppercase;
}

.popup__title {
	padding-top: 5px;
	text-align: center;
	margin-bottom: 20px;
}