$accentColor: #FFCC0D;
$mainBgColor: #FFFFFF;
$mainColor: #000;
$mainLightColor: #E2E2E2;
$linkColor: blue;
$errorColor: red;
$linkOtherColor: #969292;
$mainButtonColor: #8EC536;
$secondButtonColor: #08c;

