//about
.about {
   
   margin-bottom: 20px;
	background: url("../img/bg-about-30.jpg") center / cover no-repeat fixed;
	color: $mainLightColor;
   
   @media (max-width: $tablet) {
      padding: 100px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 90px 0 0;
   }

	&__inner {
		padding: 140px 0 20px;
	}

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainLightColor; 
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 35px;
      }

      &::after {
         left: 5%;
			background-color: $mainLightColor;
      }
   }

   &__content {
      margin-bottom: 90px;      
            
      @media (max-width: $mobileSmall) {
         margin-bottom: 50px;         
      }
   }

   &__description { 
      padding: 25px 20px 25px; 
      // text-align: center;  
      // background-color: $mainLightColor;           
      
      @media (max-width: $mobileSmall) {
         padding: 20px 10px 20px; 
      }
   } 
}