//about
.about {
   
   margin-bottom: 20px;
	background: url("../img/bg-about-30.jpg") center / cover no-repeat fixed;
	color: $mainLightColor;   
   

	&__inner {
		padding: 140px 0 40px;

		@media (max-width: $tablet) {
			padding: 100px 0 30px;
		}
	
		@media (max-width: $mobileSmall) {
			padding: 90px 0 30px;
		}
	}

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainLightColor; 
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 35px;
      }

      &::after {
         left: 5%;
			background-color: $mainLightColor;
      }
   }

   &__content {
      margin-bottom: 50px;
            
      @media (max-width: $mobileSmall) {
         margin-bottom: 30px;
      }
   }

	&__text {
		margin-bottom: 30px;

		@media (max-width: $mobileSmall) {
         margin-bottom: 20px;
      }

	// &__subtitle {
	// 	text-align: center;
	// 	margin-bottom: 30px;
	// 	}
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-bottom: 50px;

		@media (max-width: $mobile) {
			grid-template-columns: 1fr 1fr;
         margin-bottom: 30px;
      }

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.item-grid {
			&__subtitle {
				text-align: center;
				margin-bottom: 15px;
			}

			&__list li {
				list-style-type: square;
				color: $accentColor;
			}

			&__list li span {
				color: $mainBgColor;
			}
		}
	}
}

.about__subtitle {
	text-align: center;
	margin-bottom: 30px;
	}