//contact
.contact {	
	display: flex;
   margin-bottom: 40px;

		@media (max-width: $tablet) {
			margin-bottom: 20px;   
		}

		@media (max-width: $mobileSmall) {			
			margin-bottom: 10px; 
		}
   

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor; 

		padding: 140px 0 20px;
      
      @media (max-width: $tablet) {
         border-width: 3px;
			padding-top: 100px;
      }

		@media (max-width: $mobileSmall) {
			padding-top: 90px;
		}   
   }

   &__title {
     
      &::after {
         left: 23%;         
      }
   }

   &__content {
      display: flex;
      
      @media (max-width: $tablet) {
         flex-direction: column;
         width: calc(290px + 510 * (100vw - 320px) / 940);
      }

      @media (max-width: $mobileSmall) {
         width: 100%;
      } 
   }

   &__left-block, &__right-block {
      flex: 0 1 50%;
   }

   &__left-block {
      text-align: justify;
      padding: 0 20px; 
      
      @media (max-width: $tablet) {
         margin-bottom: 40px;
       }

       @media (max-width: $mobileSmall) {
         margin-bottom: 10px;
       }
   }

   &__text {
      margin-bottom: 30px;

      @media (max-width: $mobileSmall) {
         margin-bottom: 20px;
       }
   }

   &__info {
      position: relative;
      display: block;
      margin-bottom: 20px;
      padding-left: 42px;

      @media (max-width: $mobileSmall) {
         padding-left: calc(35px + 7 * (100vw - 320px) / 940);
       } 

      &::after {
         content: '';    
         position: absolute; 
         top: 0;
         left: 0;    
         width: 32px;    
         height: 32px; 

            
         @media (max-width: $pc) {
            width: calc(24px + 8 * (100vw - 320px) / 940);
            height: calc(24px + 8 * (100vw - 320px) / 940);
         }
      }    
   }

   &__info-1::after {
      background: url("./../img/icons/email-icon.png") 0 0/100% 100% no-repeat;
   }

   &__info-2::after {
      background: url("./../img/icons/telephone-icon.png") 0 0/100% 100% no-repeat;
   }   

   &__info-3::after {
      background: url("./../img/icons/location-icon.png") 0 0/100% 100% no-repeat;
   }

   &__link-mail {
      position: relative;
   }
    
   &__link-mail::before,
   &__link-mail::after {
      content: '';    
      position: absolute; 
      top: 100%;    
      width: 0;    
      height: 2px;    
      background: $accentColor;    
      transition: 0.3s;
   }

   &__link-mail::before {
      left: calc(50%);      
   }

   &__link-mail::after {
      right: calc(50%);      
   }

   &__link-mail:hover::before,
   &__link-mail:hover::after {
      width: calc(50%);              
      
   }

   &__tel {
      transition: 0.3s ease;

      &:hover {
         color: $accentColor;
      }
   }

   &__right-block {
      display: flex;
      justify-content: center;
   }

	&__subtitle {
		text-align: center;
		margin-bottom: 20px;
	}

   &__form {
		padding: em(20, 20) em(20, 20) em(25, 20);
      width: 500px;
      margin-bottom: 90px;
		border: 2px solid $accentColor;
		border-radius: 5px;
      
      @media (max-width: $tablet) {
        width: 100%;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 50px;            
      }
   }    
}

