//projects
.projects {
   padding: 140px 0 120px;
      
   @media (max-width: $tablet) {
      padding: 110px 0 100px;
   }

   @media (max-width: $mobileSmall) {
      padding: 90px 0 50px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
         
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

	&__title-inner {
		text-align: center;
	}

   &__title {
		text-align: center;

      &::after {
         left: 20%;
      }
   }

	&__text {
		margin-bottom: 40px;
	}

   .portfolio {
      width: 100%;
      text-align: center;

      &__content {
         display: flex;
         flex-direction: column;
         row-gap: 50px;

         @media (max-width: $pc) {
            gap: calc(30px + 20*((100vw - 1051px) / (1260 - 1051)));
         } 
         
         @media (max-width: $tablet) {
            gap: 30px;
         }
      }

      &__block {
         display: flex;
         justify-content: space-between;
       
         @media (max-width: $tablet) {
            flex-direction: column;
            align-items:center;
         }
      }

      &__img-box {
         display: flex;
			justify-content: space-between;
         flex-direction: column;
         align-items: center;
			position: relative;
         max-width: 575px;
         padding: 20px 20px 35px;
			min-height: 770px;
         background-color: $mainLightColor; 
		
         @media (max-width: $pc) {
            max-width: calc(475px + 100*((100vw - 1051px) / (1260 - 1051)));
				min-height: calc(600px + 100*((100vw - 478px) / (1260 - 478)));
         }

         @media (max-width: $tablet) {
            max-width: 575px;
            
            &:first-child {
               margin-bottom: 30px;
            }
         }
      }

		&__link {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         z-index: 1;
      }  
		
		&__subtitle {
         margin-bottom: 15px;

			@media (max-width: $tablet) {
				opacity: 0;
				transform: translateY(70px);
				transition: transform 1.3s ease 0s, opacity 1.3s ease 0.5s;
				&._watcher-view {
					opacity: 1;
					transform: translateY(0);
				}
			}
      }

      &__img-wrapper {
         overflow: hidden;
         margin-bottom: 20px;			
      }

      &__img {
         width: 100%;
			object-fit: cover;
			position: relative;
			z-index: 2;
			transition: all 0.8s ease;		
      }  
		
		&__description {
			margin-bottom: 25px;

			@include font(15px, 400, 160%);

         @media (max-width: $pc) {
            font-size: calc(13px + 2*((100vw - 320px) / (1260 - 320)));
         }
		}

		&__list {
			margin-bottom: 20px;
			@include font(18px, 400, 140%);

         @media (max-width: $pc) {
            font-size: calc(14px + 4*((100vw - 320px) / (1260 - 320)));
         }
		}

		&__title-small {
			margin-bottom: 5px;
		}

		&__label {  
			color: $mainColor;
		   position: relative;
			text-transform: uppercase;
			font-size: 12px;

         @include font(16px, 500, 120%);

         @media (max-width: $pc) {
            font-size: calc(12px + 2*((100vw - 320px) / (1260 - 320)));
         }

         &::before,
         &::after {
            content: '';
            position: absolute; 
            top: 100%;
            width: 0;
            height: 2px;
            background: $accentColor;
            transition: 0.3s;
         }

         &::before {
            left: 50%; 
         }

         &::after {
            right: 50%;
         }
      }

      &__button-more {
         margin: 30px 0 0;
			background-color: $mainLightColor;
         border: 2px solid $mainLightColor;
         
         @media (max-width: $mobileSmall) {
            margin: 10px 0 0;
         }
      }
   }
}

@media (any-hover: hover) {
	.portfolio__img-box:hover .portfolio__label {
		color: $mainColor;
	}
	.portfolio__img-box:hover .portfolio__label::before
	{             
		width: 50%;
	}  
	.portfolio__img-box:hover .portfolio__label::after {             
		width: 50%;
	}
	.portfolio__button-more:hover {
		background-color: transparent;
		border: 2px solid $linkOtherColor;
	}

	.portfolio__img-box:hover img {
		transform: scale(1.1);
	}
}

