//reviews
.reviews {
	display: flex;
   margin-bottom: 40px;

   @media (max-width: $tablet) {
		margin-bottom: 30px;
	}

	@media (max-width: $mobileSmall) {
		margin-bottom: 20px; 
	}


	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 4px solid $mainColor; 

		padding: 140px 0 110px;
		
		@media (max-width: $tablet) {
			border-width: 3px;
			padding: 100px 0 80px;
		}

		@media (max-width: $mobileSmall) {
			padding: 90px 0 50px;
		}
	}

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 35px;
      }

      &::after {
         left: 17%;         
      }
   }

  	&__text-block {
		text-align: center;
		margin-bottom: 20px;

		@media (max-width: $pc) {
			margin-bottom: calc(10px + 10*((100vw - 320px) / (1260 - 320)));
		}
	}
}



