//reviews
.reviews {
   padding: 140px 0 20px;
   margin-bottom: 20px;
	// background-color: $mainLightColor;
   
   @media (max-width: $tablet) {
      padding: 100px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 90px 0 0;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;      
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 35px;
      }

      &::after {
         left: 17%;         
      }
   }

  	&__text-block {
		text-align: center;
		margin-bottom: 10px;

		@media (max-width: $pc) {
			margin-bottom: calc(5px + 5*((100vw - 320px) / (1260 - 320)));
		}
	}
}

.swiper {   
   max-width: 440px;
   padding: 30px 50px 60px;

   @media (max-width: $mobileSmall) {
      padding: 20px 30px 50px;
		max-width: calc(300px + 140*((100vw - 320px) / (479 - 320)));
   }
  
   &__slide {
      text-align: center;
     }

   &__image {
        max-width: 100%;
     }   
}

.swiper-button-next,
.swiper-button-prev {
	top: 50%;
	transform: translateY(-30%);
}
	
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 0; 
	
	@media (max-width: $mobileSmall) {
	left: -11px; 
	}
}
	
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0;
	
	@media (max-width: $mobileSmall) {
	right: -11px; 
	}
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 30px;
	@media (max-width: $pc) {
		font-size: calc(22px + 22*((100vw - 320px) / (1260 - 320)));
	}
}

.swiper-pagination {
	transform: translate3d(0, 0, 0);
	
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 3.5%;
	left: 0;
	width: 100%;
	font-size: 18px;
	line-height: 150%;

	@media (max-width: $pc) {
		font-size: calc(16px + 2*((100vw - 320px) / (1260 - 320)));
	}
} 

