//reviews
.reviews {	
   margin-bottom: 40px;

   @media (max-width: $tablet) {
		margin-bottom: 30px;
	}

	@media (max-width: $mobileSmall) {
		margin-bottom: 20px; 
	}


	&__wrapper {		
		border-bottom: 4px solid $mainColor; 

		padding: 140px 0 110px;
		
		@media (max-width: $tablet) {
			border-width: 3px;
			padding: 100px 0 80px;
		}

		@media (max-width: $mobileSmall) {
			padding: 90px 0 50px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

   &__title {
      margin-bottom: 90px;
      position: relative;
		align-items: center;      

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 35px;
      }

      &::after {
         left: 17%;
      }
   }

  	&__text-block {
		text-align: center;
		margin-bottom: 40px;

		@media (max-width: $pc) {
			margin-bottom: calc(20px + 30*((100vw - 320px) / (1260 - 320)));
		}
	}	
}

// Дополнительно прописываем стили
.swiper {
	padding: 0 40px;

	@media (max-width: $mobileSmall) {
		padding: 0;
	}

	&__image {
		text-align: center;
	}

	&__image img {
		max-width: 100%;
	}
}


// Меняем установленные стили стрелок
:root {
	--swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: calc(var(--swiper-navigation-size) / 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $linkOtherColor;

	@media (max-width: $mobileSmall) {
      display: none;
	}
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	text-transform: none;
	font-variant: initial;
	line-height: 1;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: -8px;
	right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	content: "prev";
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: -8px;
	left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	content: "next";
}