//skills
.services {
	padding: 160px 0 40px;

   @media (max-width: $tablet) {
      padding: 140px 0 40px;
   }

   @media (max-width: $mobileSmall) {
      padding: 100px 0 20px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 4px solid $mainColor;

      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
		text-align: center;
    
      &::after {
         left: 11%;
      }
   }

  	&__subtitle {
		margin-bottom: 20px;	
		line-height: 140%;
	}

	&__sub-subtitle {
		margin-bottom: 10px;
	}

	@media (any-hover: hover) {

		&__img-box {
			will-change: transform;
			opacity: 0;
			transition: transform 1.6s ease, opacity 1.6s ease;
		}

		&__img-box--left {
			transform: translateX(-70px);
		}

		&__img-box--right {
			transform: translateX(70px);
		}

		&__img-box._watcher-view {
			opacity: 1;
			transform: translateX(0);
		}
	}

	&__img {
		width: 100%;
		height: auto;
	}

	&__list-wrapper {
		display: flex;
	}

	&__content-box {
		margin-top: 45px;

		@media (max-width: $pc) {
			margin-top: calc(5px + 40*((100vw - 992px) / (1260 - 992)));
		}

		@media (max-width: $tablet) {
			margin-top: 0;
		}
	}

	&__button-box {
		text-align: center;
	}
}

.spollers {
	&__list {
		margin-left: em(25, 20);
	}
}

.border-none {
	border: none;
}