//skills
.services {
   padding: 140px 0 20px;
   margin-bottom: 20px;
   
   @media (max-width: $tablet) {
      padding: 100px 0 20px;
   }

   @media (max-width: $mobileSmall) {
      padding: 90px 0 0;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;      
      
      @media (max-width: $tablet) {
         border-width: 3px;
      }
   }

   &__title {
      margin-bottom: 90px;
      position: relative;
      align-self: center;

      @media (max-width: $tablet) {
         margin-bottom: 70px;
      }

      @media (max-width: $mobileSmall) {
         margin-bottom: 35px;
      }

      &::after {
         left: 9%;
      }
   }

  	&__subtitle {
		margin-bottom: 20px;

		@media (max-width: $pc) {
      margin-bottom: calc(7px + 13*((100vw - 320px) / (1260 - 320)));
   }
	}

	&__list {
		margin-left: 50px;
	}

	&__img-box {
		opacity: 0;
		transition: transform 1.6s ease, opacity 1.6s ease;
	}

	&__img-box--left {
		transform: translateX(70px);
	}

	&__img-box--right {
		transform: translateX(-70px);
	}

	&__img-box._watcher-view {
		opacity: 1;
		transform: translateX(0);
	}

	&__img {
		width: 100%;
		object-fit: cover;
	}

	&__list-wrapper {
		display: flex;
	}
}

.spollers {
	&__list {
		margin-left: 20px;
	}
}

.grid-services {	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
	
	@media (max-width: $pc) {
      gap: calc(20px + 20*((100vw - 992px) / (1260 - 992)));
   }

	@media (max-width:$tablet) {
		grid-template-columns: 1fr 1fr;
			gap: 30px; 
	}

	@media (max-width:$mobileSmall) {
		grid-template-columns: 1fr;
			gap: 20px; 
	}

	&__item {
		background-color: $mainLightColor;
		padding: em(30, 20) em(30, 20);
		border-radius: 5px;
	}

	&__img-wrapper {
		width: 30%;
		margin-bottom: em(15, 20);

		@media (max-width:$mobileSmall) {
		width: 20%;
		}
	}

	&__img {
		width: 100%;
		object-fit: cover;
	}

   &__subtitle {
		margin-bottom: em(5, 20);
	} 

	&__label {
		line-height: 100%;
		margin-bottom: em(15, 20);
	}

	&__text {
		font-size: 16px;
		line-height: 100%;

		@media (max-width: $pc) {
      font-size: calc(14px + 2*((100vw - 320px) / (1260 - 320)));
   	}
	}
	
}