// policy
.terms {
	padding: 140px 0 100px;
      
	@media (max-width: $tablet) {
		padding: 110px 0 80px;
	}

	@media (max-width: $mobileSmall) {
		padding: 90px 0 50px;
	}
	

	&__title {
		display: block;
		text-align: center;

		&::after {
			width: 0;
		}
	}
}